.donate {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 80vh;
  margin-top: 32.5rem;
  margin-bottom: 10rem;
}

form {
  padding: 2rem;
}

.data {
  margin: 2rem auto;
  width: 100%;
}

label {
  display: block;
}

.data input {
  margin-top: 0.5rem;
  border-radius: 5px;
  width: 65%;
  height: 2rem;
}

.datasmall input {
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  border-radius: 5px;
  width: 30%;
  height: 2rem;
}

.donateicon {
  width: 25rem;
  margin-right: 6rem;
  margin-top: 7rem;
}

@media screen and (max-width: 800px) {
  .donate {
    margin-top: 25rem;
    margin-bottom: 10rem;
  }
  form {
    margin-top: 2.5rem;
    padding: 1.5rem;
  }
  .data {
    margin: 1.5rem auto;
  }
  .data input {
    margin-top: 0.3rem;
    width: 90%;
  }
  .datasmall input {
    margin-top: 0.3rem;
    width: 40%;
  }
  .donateicon {
    width: 20rem;
    margin-right: 3rem;
    margin-top: 7rem;
  }
}

@media screen and (max-width: 600px) {
  .donate {
    grid-template-columns: 1fr;
    position: relative;
  }

  .donateicon {
    width: 10rem;
    position: absolute;
    top: 18rem;
    left: 23rem;
  }
}

@media screen and (max-width: 400px) {
  .data input {
    width: 100%;
  }
  .datasmall input {
    width: 50%;
  }

  .donateicon {
    width: 8rem;

    top: 19rem;
    left: 22rem;
  }
}

@media screen and (max-width: 360px) {
  .donate {
    margin-top: 28rem;
  }
  .donateicon {
    left: 20rem;
  }
}
