@font-face {
  font-family: shadow-into-light;
  src: url("../assets/font/ShadowsIntoLight-Regular.ttf");
}

@font-face {
  font-family: Bungee Shade;
  src: url("../assets/font/BungeeShade-Regular.ttf");
}

@font-face {
  font-family: Birthstone;
  src: url("../assets/font/Birthstone-Regular.ttf");
}

@font-face {
  font-family: Comfort Brush;
  src: url("../assets/font/ComforterBrush-Regular.ttf");
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0rem auto;
}
.headerText {
  padding-top: 3rem;
}
.quote1 {
  text-align: left;
}
.quote2 {
  text-align: right;
}

.text1 {
  text-align: center;
  font-family: shadow-into-light;
  text-transform: uppercase;
}
.text2 {
  text-align: center;
  font-family: Bungee Shade;
}
.text3 {
  text-align: center;
  font-family: Birthstone;
  text-transform: uppercase;
  font-size: 3.1rem;
}
.text4 {
  text-align: center;
  font-family: Bungee Shade;
}
.text5 {
  text-align: center;
  font-family: shadow-into-light;
  text-transform: uppercase;
}
.text6 {
  font-family: Comfort Brush;
  text-align: right;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.image {
  width: 15rem;
}

.container {
  position: relative;
  background: rgb(110, 94, 254);
  height: 85vh;
}

.wave {
  position: absolute;
  height: 70px;
  width: 100%;
  background: rgb(110, 94, 254);
  bottom: 0;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 100%;
  background-color: rgb(110, 94, 254);

  left: -1.5%;
  top: 40%;
}
