.ourwork {
  display: grid;
  grid-template-rows: 2.8fr 1fr;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  width: 60%;
}

.description h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.statistics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background: rgb(110, 94, 254);
  height: 25vh;
}

.statistics::after {
  content: "";
  position: absolute;
  right: 0;
  left: -20%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 40px;
  background-size: 40px 100%;
  background-image: linear-gradient(
      135deg,
      rgb(110, 94, 254) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, rgb(110, 94, 254) 25%, transparent 25%);
  background-position: 0 0;
}

.statistic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
}

.unit {
  margin-top: 0.2rem;
}

@media screen and (max-width: 800px) {
  .ourwork {
    grid-template-rows: 2fr 0.6fr;
  }

  .description {
    margin: 3rem auto 2rem auto;
    width: 60%;
  }

  .description h2 {
    margin-bottom: 1.5rem;
  }

  .statistics {
    height: 20vh;
  }

  .statistic {
    font-size: 1.2rem;
  }

  .unit {
    margin-top: 0.1rem;
  }
}

@media screen and (max-width: 600px) {
  .ourwork {
    grid-template-rows: 2fr 1.5fr;
  }

  .description h2 {
    margin-bottom: 1rem;
  }

  .statistics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    height: 45vh;
  }

  .statistic {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 400px) {
  .description {
    width: 80%;
  }
  .ourwork {
    width: 132vw;
  }
}
